@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #EFF7FD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #dbeafe00;
  /* Tailwind's blue-100 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9ca6b9;
  /* Tailwind's blue-600 */
  border-radius: 10px;
  border: 2px solid #dbeafe;
  /* Same as track for a nice padding effect */
}